<form>
  <div class="form-group">
    <label for="categoryName">category Name</label>
     {{input value=categoryName id="categoryName"}}
  </div>
  <button {{action 'saveCategory'}}>Save</button>
</form>
